@import "./variables";
@import './mixins';

@font-face {
  font-family: Trebuchet MS;
  src: url('../assets/fonts/trebuchetms.ttf');
}

@font-face {
  font-family: Montserrat;
  src: url('../assets/fonts/Montserrat-Regular.ttf');
}

body {
  margin: 0;
  font-family:  Trebuchet MS, sans-serif;
  background-color: $white2;
  margin-top: 27.5px;
  box-sizing: border-box;
  color: $dark;
  font-weight: 400;
  

  @include onMobile {
    margin-top: 40px;
  }
}